
/* body */
body {
    background-image: url(../img/img-index/valpo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(64, 65, 137);
}

body::before {
    background-color: rgba(255, 255, 255, 0.068);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} 

.sombra {
    width: auto;
    height: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

/* navbar */
.navbar {
    background-color: rgba(253, 72, 72, 0.741);
    height: 80px;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    color: #eee8dc;
}
.navbar-brand {
    font-weight: 500;
    font-size: 24px;
    color: #e9e5da;
}

.login-button {
background-color: rgb(51, 209, 141);
color: aliceblue;
font-size: 14px;
padding: 8px 20px;
border-radius: 50px;
text-decoration: none;
}

.login-button:hover {
    background-color: rgb(0, 255, 123);
    color: rgba(253, 72, 72, 0.741);
}


.navbar-toggler {
    border: none;
    font-size: 2 rem;
    padding: 6 rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}
/* end navbar */


/* Cree una sola clase seccion para todos los estilos que se repetian en las secciones para encontrar la falla */

.seccion {
    height: auto;
    width: 100%;
    position: relative;
    margin: 20px 0; /* 20px arriba y abajo y 0 a los lados para que no se rompa */
    border-radius: 20px;
    padding: 20px;
    top: 100px;
}

.resumen {
    background-color: rgb(224, 224, 109);
    /* background-color: #bcb0a5; */
}

.perfil-i {
    width: 200px;
    border-radius: 50%;
    object-fit: contain;
}

.lista {
    text-align: start;
    padding: 20px;
}

.lista-f {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lista-f li {
    margin-top: 30px;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 500;
}

h5 {
    margin: 0;
    font-weight: 300;
}

.educacion {
    background-color: rgb(224, 224, 109);
}

.experiencia {
    background-color: rgb(224, 224, 109);
}

/* carrusel */
.carrusel {
    margin-top: 70px;
    margin-bottom: 200px;
}
/* footer */
.footer {
    background-color: rgba(253, 72, 72, 0.741);
    color: #fff;
    padding: 10px 0;
    height: auto;
    font-size: medium;
    align-items: center;
}

.footer .container {
    max-width: 960px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    color: #e9e5da;
    margin: 0 10px;
    font-size: 16px;
}

.social-icon:hover {
color: rgb(51, 209, 141);
}

